* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --background: #b09e99;
    --main: #d8cfcc;
    --author-color: #d8cfcc;
    --quote-color: #6c757d;
}

:root {
    font-size: 16px;
}

body {
    background-color: var(--background);
}

main {
    width: 50rem;
    height: 25rem;
    background-color: var(--main);
    padding: 3rem 2rem;
    color: #64b6ac;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    font-size: 1.75rem;
    margin: auto;
    margin-top: 5rem;
}

h1 {
    background-color: #64b6ac;
    width: max-content;
    padding: 1rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    color: white;
    font-size: 1.5rem;
    margin: auto;

}

h1:hover {
    background-color: var(--background);
    color: #333333;
    cursor: pointer;
    border: 1px solid black;
    transform: scale(1);
}

#quotation {
    display: flex;
    align-items: flex-start;
    margin-top: 3rem;
    color: var(--quote-color);


}

#author {
    font-size: 1rem;
    text-align: right;
    padding-top: 2rem;

}



span {
    font-size: 13rem;
    font-family: arial, sans-serif;
    height: 3rem;
    padding: 0;
    display: inline-block;
    position: relative;
    bottom: 3.5rem;


}

@media (max-width:640px) {
    :root {
        font-size: 10px;
    }

    main {
        width: 30rem;
        height: 25rem;
        padding: 1rem 0.5rem;
        font-weight: 500;
        font-size: 1.75rem;
        margin: auto;
        margin-top: 7rem;
    }

}